{% extends 'html_pages/base.html' %}
{% block title %}Ask{% endblock %}
{% block ask_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Find your subject and ask away!</b></h3>
                </div>
                <div class="panel-body">
                                        <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-1">Code</th>
                                <th class="col-sm">Course Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="clickable_row" data-href="{% url 'pekka:TDT4140_question' %}">
                                <td>TDT4140</td>
                                <td>Software Engineering</td>
                            </tr>
                            <tr class="clickable_row" data-href="{% url 'pekka:TDT4145_question' %}">
                                <td>TDT4145</td>
                                <td>Data Modelling, Databases and Database Management Systems</td>
                            </tr>
                            <tr class="clickable_row" data-href="{% url 'pekka:TDT4180_question' %}">
                                <td>TDT4180</td>
                                <td>Human-Computer Interaction</td>
                            </tr>
                            <tr class="clickable_row" data-href="{% url 'pekka:TTM4100_question' %}">
                                <td>TTM4100</td>
                                <td>Communication - Services and Networks</td>
                            </tr>
                            <tr class="clickable_row" data-href="{% url 'pekka:TDT4110_question' %}">
                                <td>TDT4110</td>
                                <td>Information Technology, Introduction</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}