{% extends 'html_pages/base_visitor.html' %}
{% block title %}Sign in{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
<div class="container-fluid centerpanel">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Sign in</b></h3>
                </div>
                <div class="panel-body">
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert" align="center"><p><strong>{{ error_message }}</strong></p></div>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'pekka:login_user'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'html_pages/form_template.html' %}
                        <button type="submit" class="btn btn-success center-block">Submit</button>
                    </form>
                </div>
                <div class="panel-footer">
                    Don't have an account? <a href="{% url 'pekka:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}