{% extends 'music/base.html' %}
{% block title %}About Pekka 2.0{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">


        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Pekka 2.0?</h3>
                    <p><i>Pekka 2.0</i> is a website dedicated to students with questions, and a homage to a certain
                        professor. Here, students, lecturers and others may ask and find answers to various questions
                        related to studies and academic fields.
                    <br>
                    <br>
                        <b>The purpose of <i>Pekka 2.0</i></b> is to rapidly provide answers to whatever questions one might have.
                    As users use Pekka 2.0 more and more, it will be able to find similar questions, and return
                    the most qualified answers readily available by sorting the answers by their credibility
                    and quality.</p>
                    <h3>Tips for questions</h3>
                    <ul>
                        <li>Try to be specific.</li>
                        <li>Put the details in the text, not the title.</li>
                    </ul>
                    <h3>Tips for answering</h3>
                    <ul>
                        <li>Try to visualize or make intuitive explanations.</li>
                        <li>Useful links and images are recommended.</li>
                        <li>Summaries are great.</li>
                    </ul>
                    <h3>Overall participation</h3>
                    <ul>
                        <li>Give credit to good questions and answers. </li>
                        <li>Refrain from off-topic discussions.</li>
                        <li>Be civil.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
