{% extends 'music/base.html' %}
{% block title %}Add a New Album{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Album</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Pekka 2.0?</h3>
                    <p>Viberr is a website dedicated to students with questions, and a homage to a certain professor.
                    Here, students, lecturers may participate in various discussions, and vote for them. </p>
                    <h3>Tips for questions</h3>
                    <ul>
                        <li>Try to be specific.</li>
                        <li>Put the details in the text, not the title</li>
                        <li>Square images look best</li>
                    </ul>
                    <h3>Tips for answering</h3>
                    <ul>
                        <li>Try to visualize or make intuitive explanations.</li>
                        <li>Summaries are great.</li>
                    </ul>
                    <h3>Overall participation</h3>
                    <ul>
                        <li>Give credit to good questions and answers. </li>
                        <li>Refrain from offtopic discussions.</li>
                        <li>Be civil.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
