{% extends 'music/base.html' %}
<!-- SVAR SORTERES ETTER SCORE -->

<head>
    <title>{% block title %}{{ question }}{% endblock %}</title>
</head>

<body>
{% block body %}

    <a class="btn btn-default" href="/{{sub_code}}_a">Back to questions in {{sub_code}}</a>
    <h1>{{question_title}}</h1>
    <h3>Current score: <a href="vote_question/" method="post"> [ {{score}} ]</a></h3>
    <h4> </h4>
    <h3>{{question_content}}</h3>
|       <ul>
        <p style="font-size:13px">Rate answers by clicking on their score!</p>

        {% for answer in answers|dictsortreversed:"get_score" %}

        <li> <a href="/{{answer.id}}/vote_answer/"> [ {{answer.get_score}} ]</a>  &nbsp; {{ answer.answer_text }} </li>

        {% endfor %}
    </ul>

        <form role="form" action="" method="post">

            {{ form.as_p }}
            <button type="submit">Submit</button>
            {% csrf_token %}
        </form>
    </div>
    {% endblock %}
</body>
