{% extends 'music/base.html' %}
{% block title %}Answer{% endblock %}
{% block songs_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:songs' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:songs' 'favorites' %}">Favorites</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- Rekkefølge: Song title, artist, audio file, album, favorite -->
                                <th>Fagkode</th>
                                <th>Fagnavn</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>
                                    <a href="songs.html">TDT4140</a>
                                    </td>
                                    <td>
                                    PU
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <a href="songs.html">TDT4145</a>
                                    </td>
                                    <td>
                                    Databaser og datamoddelering
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <a href="songs.html">TDT4180</a>
                                    </td>
                                    <td>
                                    Menneske-maskin interaksjon
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <a href="songs.html">TTM4100</a>
                                    </td>
                                    <td>
                                    Kommunikasjon, tjenester og nett
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <a href="songs.html">TDT4110</a>
                                    </td>
                                    <td>
                                    ITGK
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
