{% extends 'music/base.html' %}

{% block body %}

    <h4>Vote on this question</h4>
    <h4>Current score: {{score}}</h4>

    <a href="javascript:history.go(-1)" class="btn btn-default">Back to question</a>
        <h2>{{question.question_title}}</h2>
    </a>
        <br>
        {{question.question_content}}
        <br>
        <br>

        <form role="form" action="" method="post">
            {{ form.as_p }}

            <a href="../">
            <button type="submit">Submit</button>
            </a>

            {% csrf_token %}

        </form>

    {% endblock %}