<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Like svar</title>
</head>
<body>
<div align = 'right'>
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Potential similar question?</h3>
                    <p>This is where we will have related questions that have already
                        been asked pop up when one is about to submit a new question
                    <br>
                    <br>
                        <b>The purpose:</b> get rid of duplicates, and able people to find an answer right away.</p>
                </div>
            </div>
        </div>

    </div>

</div>
</div>
</body>
</html>