{% extends 'music/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TTM4100{% endblock %}</title>

</head>
<body>{% block body %}
    <h3>
        Here are all questions asked in this subject
    </h3>
    {% if all_questions_with_sub_code %}
    <ul>
        {% for question in all_questions_with_sub_code %}
        <li><a href="/music/{{ question.id }}/">{{question.question_title}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>There are no questions asked in this subject yet. </h3>
    {% endif %}

    {% endblock %}
</body>

</html>