{% extends 'html_pages/base.html' %}

{% block title %}TTM4100{% endblock %}

{% block body %}
    {% if similar_questions %}
        <h3>Potentially similar questions that are already asked?</h3>
        <ol>
            {% for question in similar_questions %}
                <li>
                    <a style="font-size: large;" href="{% url 'pekka:detail' question.id %}">{{question.question_title}}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <h3>There are no questions asked on your specific topic in this subject yet.</h3>
        <a href="/{{sub_code}}_a" class="btn btn-default">See other questions in this subject</a>
    {% endif %}
{% endblock %}